*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans',sans-serif;
	box-sizing:border-box;
}



a{
	text-decoration: none;
}
	/* this is for image */
img{
	display: block;
	max-width: 100%;
}


	 /* for slider */

.carousel {
height: 250px;
width: 100%;
position: relative;
}

.carouselbox {
height: 300px;
width: auto;
overflow: scroll;
white-space: nowrap;
display: inline-block;
text-align: center;
/* padding-bottom: 10px !important; */
display: flex;
align-items: center;
}


.carouselbox img {
min-width: 147px;
max-width: 147px;
height: 200px;
background-size: cover;
background-color: lightgreen;
margin: 5px 10px;
cursor: pointer;
transition: 0.5s ease;
z-index: 2;
}

			/* popup effect */ 
.carouselbox img:hover {
transform: scale(1.4);
z-index: 5;
} 
		/* to hide the horizontal and vertical scrollbar */
.carousel ::-webkit-scrollbar{
	overflow: hidden;
	display: none;
}